@charset "UTF-8";

.footer{
	position: relative;
	border-top-left-radius: 60px;
	background: #004686;
	width: 100%;
	max-width: 1920px;
	
}
.objectArea{
	padding: 3.13rem 16.25rem 3.13rem 16.25rem; 
}
.logoPhone{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer_dafix_logo{
	display: block;
	width: 12.44rem;
	height: 3.56rem;
	background-image: url('../images/footer_dafix_logo.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.footer_phone{
	display: block;
	font-family: "Pre-ExtraBold";
	font-size: 3.50em;
	color: white;
	white-space: nowrap;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.commanyDown{
	display: flex;
	justify-content: space-between;
	margin-top: 2.81rem;
	flex-wrap: wrap;
}
.footer_company{
	display: flex;
	white-space: nowrap;
	font-family: "Pre-Medium";
	font-size: 1rem;
	color: white;
	align-items: center;
	
}
.footer_company li{
	padding-bottom: 1rem;
}
.line{
	border-left: 1px solid;
	height: 1rem;
	margin: 0 1.44rem;
}

.footer_down{
	vertical-align: middle;
	font-family: "Pre-Regular";
	font-size: 1rem;
	color: white;
	white-space: nowrap;
	padding-bottom: 1rem;
}
.footer_down_img{
	vertical-align: top;
}
.footer_bottom{
	display: inline-block;
	font-family: "Pre-Regular";
	font-size: 1rem;
	color: white;
}

@media screen and (max-width: 1024px){
	.objectArea{
		padding: 2.13rem 4.25rem 2.13rem 4.25rem; 
	}
	.footer_company{
		flex-wrap: wrap;
	}
	.footer_dafix_logo{
		margin-bottom: 1rem;
	}
	.commanyDown{
		margin-top: 1rem;
	}
}