@charset "UTF-8";
body {
	margin: 0 auto;
	max-width: 1920px;
	height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}

.header{
	position: fixed;
	display: flex;
	align-items: center;
	height: 80px;
	width: 100%;
	max-width: 1920px;
	z-index: 1000;
	white-space: nowrap;
	margin: 0 auto;
	padding: 0;
	justify-content: space-between;
}
.logo {
	display: inline;
	margin-left: 13%;
}
.empty-header-div{
	flex-grow: 0.55;
}
.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.menu li{
	list-style: none;
	font-family: "Pre-Regular";
	font-size: 18px;
	padding: 10px 10px;
	color: white;
	margin:0 38px;

}
.menu li:hover{
	color: rgb(0, 70, 134);
	font-family: "Pre-ExtraBold";
}

.down {
	margin-right: 2%;
}

.bar{
	position: fixed;
	right: 32px;
	top:15px;
	font-size: 32px;
	display: none;
	z-index: 1000;
}

@media screen and (max-width: 1024px) {
	.header{
		flex-direction: column;
		align-items: flex-start;
		padding-top: 20px;
	}
	.menu{
		flex-direction: column;
		align-items: center;
		width: 100%;
		display: none;
	}
	.down{
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 30 0px;
	display: none;
	
	}
	.bar{
		display: block;
		
	}
	.menu.active,
	.down.active{
		display: flex;
		background: red;
	}
}

