@charset "UTF-8";

.bg{
	width: 100%;
	max-width: 1920px;
	margin-bottom: 11.31em;
	position: relative;
	
}
.main_img{
	width: 100%;
	border-bottom-right-radius: 60px;
}
.bg_main_text{
	font-family: "Pre-Black";
	position: absolute;
	top:35%;
	left: 13%;
	color: white;
	width: 627px;
	font-size: 2.88em;
	line-height: 150%;
}
.bg_sub_text{
	font-family: "Pre-Regular";
	position: absolute;
	top: 55%;
	left: 13%;
	color: white;
	font-size: 1.5em;
	line-height: 170%;
}
@keyframes motion {
		0% {margin-top: 0px;}
		100% {margin-top: 10px;}
	}
.bg_icon{
	position: absolute;
	top: 75%;
	left: 13%;
	animation: motion 0.3s linear 0s infinite alternate;					
}
.content_area{
	width: 74%;
	margin: 0 auto;

}
.portfolio_main_text{
	font-family: "Pre-Black";
	font-size: 2.88em;
	line-height: 150%;
	color: #004686;
	margin-bottom: 1.38em;
}
.portfolio_sub_text{
	font-family: "Pre-Regular";
	font-size: 1.5em;
	line-height: 170%;
	margin-bottom: 2.69em;
}
.portfolio_all_btn{
	font-family: "Pre-Regular";
	font-size: 1em;
	color: #969696;
	margin-bottom: 5.06em;
}
.portfolio_viewarea{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:3%;

}
.portfolio_view {

}
.portfolio_view img{
	border-radius: 10px 10px 26px 10px;
	width: 100%;
}

.portfolio_view span{
	display: block;
}
.portfolio_name{
	font-family: "Pre-ExtraBold";
	font-size: 1.38em;
	padding-top: 1.13em;
	padding-bottom: 0.56em;
}
.portfolio_detail{
	font-family: "Pre-Regular";
	font-size: 1.13em;
	margin-bottom: 2em;
}
.inquire_area{
	margin-top: 10em;
	text-align: center;
	margin-bottom: 13.69rem;
}
.inquire_main_text{
	display: inline-block;
	font-family: "Pre-Black";
	font-size: 2.88em;
	color: #004686;
	white-space: nowrap;
	margin-bottom: 1.38rem;
}
.inquire_sub_text{
	font-family: "Pre-Regular";
	font-size: 1.50em;
	margin-bottom: 3.63rem;
}

.inquire_btn{
	font-family: "Pre-Regular";
	font-size: 1.25em;
}

.inquire_sub_text{
	display: block;
	font-family: "Pre-Regular";
	font-size: 1.5em;
}


@media screen and (max-width: 1024px) {
	html, body{
		font-size: 8px;
	}

}






