@charset "UTF-8";

.bg{
	width: 100%;
	max-width: 1920px;
	margin-bottom: 11.31em;
	position: relative;
}
.main_img {
    width: 100%;
    border-bottom-right-radius: 60px;
}

.bg_main_text{
	font-family: "Pre-Black";
	position: absolute;
	top:35%;
	left: 13%;
	color: white;
	width: 39.19rem;
	font-size: 2.88em;
	line-height: 150%;
}
.bg_sub_text{
	font-family: "Pre-Regular";
	position: absolute;
	top: 55%;
	left: 13%;
	color: white;
	font-size: 1.5em;
	line-height: 170%;
}
@keyframes motion {
		0% {margin-top: 0px;}
		100% {margin-top: 10px;}
	}
.bg_icon{
	position: absolute;
	top: 75%;
	left: 13%;
	animation: motion 0.3s linear 0s infinite alternate;					
}
.content_area{
	width: 74%;
	margin: 0 auto;

}
.portfolio_main_text{
	font-family: "Pre-Black";
	font-size: 2.88em;
	line-height: 150%;
	color: #004686;
	margin-bottom: 1.38em;
}
.portfolio_sub_text{
	font-family: "Pre-Regular";
	font-size: 1.5em;
	line-height: 170%;
	margin-bottom: 2.69em;
}
.portfolio_all_btn{
	font-family: "Pre-Regular";
	font-size: 1em;
	color: #969696;
	margin-bottom: 5.06em;
}
.portfolio_viewarea{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:3%;
}
.portfolio_view {
	position: relative;
}
.portfolio_view img{
	border-radius: 10px 10px 26px 10px;
	width: 100%;
}

.portfolio_view span{
	display: block;
}
.portfolio_name{
	font-family: "Pre-ExtraBold";
	font-size: 1.38em;
	padding-top: 1em;
	padding-bottom: 0.56em;
}
.portfolio_detail{
	font-family: "Pre-Regular";
	font-size: 1.13em;
	margin-bottom: 1.5em;
}
.inquire_area{
	margin-top: 10em;
	text-align: center;
	margin-bottom: 13.69rem;
	display: block;
}
.inquire_main_text{
	display: inline-block;
	font-family: "Pre-Black";
	height:2.88rem;
	font-size: 2.88rem;
	color: #004686;
	white-space: wrap;
	
}
.inquire_sub_text{
	font-family: "Pre-Regular";
	font-size: 1.50em;
	margin-top: 1.38rem;
	margin-bottom: 3.63rem;
}

.inquire_btn{
	font-family: "Pre-Regular";
	font-size: 1.25em;
	padding: 10px 30px 10px 30px;
	background-color: rgba(231, 231, 231, 1);
	color: rgba(147, 147, 147, 1);
	border-radius: 60px;
}
.inquire_btn:hover{
	color: #004686;
	font-family: "Pre-ExtraBold";
	transition: color 0.3s ease-out;
}
.inquire_sub_text{
	display: block;
	font-family: "Pre-Regular";
	font-size: 1.5em;
}
.arw{
	position: absolute;
	left: 94%;
	bottom: 28%;
}

.circle_wrap{
	position: absolute;
	top: 43%;
	left: 45%;
	width: 26px;
	height: 26px;
	transform: translate(-50%, -50%);
}

.circle{
	position: relative;
	overflow: hidden;
	height: 50%;
}

.circle:after {
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 26px;
	height: 26px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid transparent;
}

@keyframes spin-circle-top {
	from {
		transform: rotate(-135deg);
	}
	to {
		transform: rotate(45deg);
	}
}
@keyframes spin-circle-bottom {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(225deg);
	}
}

.arw:hover .circle.top:after {
	border-top-color: white;
	border-left-color: white;
	animation: spin-circle-top 0.2s 1 linear both;	
}
.arw:hover .circle.bottom:after {
	border-top-color: white;
	border-left-color: white;
	top: -13px;
	animation: spin-circle-bottom 0.2s 0.2s 1 linear both;	
}


@media screen and (max-width: 1024px) {
	html, body{
		font-size: 16px;

	}

.portfolio_viewarea{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap:3%;

}
}






