@charset "UTF-8";

.bg{
	width: 100%;
	max-width: 1920px;
	
}
.main_image{
	padding-left: 12.7%;
	padding-top: 10%;
	max-width: 1660px;
}
.content_area{
	width: 74%;
	margin: 0 auto;
	margin-top: 5.94rem;

}
.main_text{
	font-family: "Pre-Black";
	font-size: 2.88em;
	line-height: 150%;
	color: #004686;
	margin-top: 41px;
	margin-bottom: 48px;
}

.portfolio_all_btn{
	font-family: "Pre-Regular";
	font-size: 1em;
	color: #969696;
}

.sub_text{
	font-family: "Pre-Regular";
	font-size: 1.5em;
	line-height: 170%;
	margin-top: 44px;
	margin-bottom: 71px;
}

.text_img_area{
	display: flex;
	
}
.tool_image{
	position: relative;
	left: 20%;
}

.vision_card_area{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	
}

.vision_card{
	margin: 0;
	padding: 0;
	position: relative;
}

.card_img_wrap{
	display: inline-block;
	max-width: 440px;
	border-radius: 10px 10px 26px 10px;
	overflow: hidden;
	opacity:1;
}

.scroll_first{
	transition: all 1s ease;
}
.scroll_second{
	transition: all 1.5s ease;
}
.scroll_third{
	transition: all 2s ease;
}

.scroll_bottom{
	transform : translateY(200px);
	opacity: 0;	
}
.card_img{
	display: block;
	width: 100%;

}

.card_img:hover{
	transform: scale(1.1, 1.1);
	transition: all 0.3s ease;
	
}

.news_area{
	margin: auto;
	margin-bottom: 196px;
	
}
.news_table{
	border-top: 1px solid #E9E9E9;
	margin: auto;
	width: 100%;
	white-space: nowrap;
}
td{
	border-bottom: 1px solid #E9E9E9;
	padding-top: 20px;
	padding-bottom: 20px;
}

.table_days{
	font-family: "Pre-Bold";
	font-size: 22px;
	width: 165px;
	padding-right: 40px;
}

.table_bar{
	height: 14px;
	border-left: 1px solid #B9B9B9;
}

.second_bar{
	margin-right: 20px;
	margin-left: 20px;	
}
.table_subject{
	font-family: "Pre-Regular";
	font-size: 22px;
	padding-left: 36px;
	width: 100%;
}
.table_subtext{
	font-family: "Pre-Regular";
	font-size: 18px;
	color: #888888;
	text-align: right;
	padding-right: 5px;
}